* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html body {
  font-family: 'Oxygen', sans-serif; }

header a {
  color: black; }
  header a:hover {
    color: black;
    text-decoration: none; }
  header a .logo {
    text-transform: uppercase;
    font-size: 3.2vw;
    padding: 4% 2%; }
